/* Общие теги */
body{
    background-color: #222831;
    color: #EEEEEE;
    
    font-family: 'Montserrat';
    font-size: 14px;
}

h1 {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 25px;
}

p {
    line-height: 1.25;
    
    margin-bottom: 1em;
}

img { 
	-webkit-user-select: none;
	user-select: none;
    pointer-events: none; 
}

.task-deletion:hover, .task-completion-square:hover, .task-sort:hover {
    opacity: 33%;
}



/* .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */


/* Основные контейнеры */
.container {
    margin: 0 auto;
    /* border: 1px solid #f2e9e4; */
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;

    border-radius: 5px;

    background-color: #393E46;
}


/* Псевдо-футер (главная строка и строка добавления задачи) */
.pseudo-footer {
    /* border: 1px solid #f2e9e4; */

    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    background-color: #393E46;
    border-radius: 5px;

    position: sticky;
    top: 0px;
    margin-bottom: 10px;
}


/* Главная строка: указание списка и значок сортировки */
.main-line {
    /* border: 1px solid #f2e9e4; */

    padding-left: 60px;
    padding-right: 40px;
    
    box-sizing: border-box;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-list-display {
    /* border: 1px solid #f2e9e4; */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task-list-desc {
    /* border: 1px solid #f2e9e4; */

    padding-left: 8px;
}


/* Строка добавления задачи */
.task-creation-line {
    /* border: 1px solid #f2e9e4; */

    margin-left: 0px;
    margin-right: 0px;
}

.task-creation {
    height: 50px;
    box-sizing: border-box;
    width: 94%;

    color: #EEEEEE;
    font-size: 16px;
    vertical-align: middle;

    padding-left: 15px;

    margin-left: 3%;
    margin-right: 3%;

    border: 1px solid #222831;
    border-radius: 15px;
    background-color: #222831;
}

.task-creation:focus {
    outline: 2px solid #00ADB5;
}


/* Список задач */
.task-list {
    height: 99%;
    width: 100%;

    margin-bottom: 1%;

    display: flex;
    flex-direction: column;
}

.task {
    background-color: #222831;

    border-radius: 15px;

    font-size: 16px;
    vertical-align: middle;

    width: 89%;
    height: 50px;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 3%;
    padding-right: 2%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-part {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.part-1 {
    width: 70%;
}

.part-2 {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.task-desc {
    padding-left: 10px;

    border: none;
    background-color: #222831;
    font-size: 16px;
    color: #EEEEEE;
    font-family: 'Montserrat';

    width: 100%;
}


.task-desc:focus, .lifesphere-label:focus {
    outline: none;
}

.lifesphere-label {
    height: 25px;
    width: 100px;

    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    
    padding: 0px;
    padding-left: 8px;

    background-color: #00ADB5;
    border-radius: 25px;
    border: none;

    text-align: start;
    font-size: 13px;
    vertical-align: middle;
    color: #BEF5F9;

    display: flex;
    align-items: center;
}

.task-deletion {
    width: 27px;
    height: 27px;
}

.task-completion-square {
    width: 20px;
    height: 20px;
}



.context-menu {
    position: absolute;
    
    background-color: #393E46;
    border: 1px solid #222831;
    border-radius: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
}


.context-menu ul {
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    list-style: none;
}

.context-menu ul li input {
    background-color: #393E46;
    text-align: start;
    
    min-width: 150px;
    height: 100%;

    padding-bottom: 7px;
    padding-top: 7px;
    
    border: none;
    
    color: #EEEEEE;
}

.context-menu ul li input:hover {
    background-color: #52616b;
}
